$dark-grey: #202020;
$white: #f7f7f7;
$grey: #f5f5f5;
$mid-grey: #aaa;
$primary: #00c6d7;
$primary-hover: #00b7c7;
$accent: #f3f4f8;

$footer-text: #b0b4c2;
$footer-link: #797c88;

@font-face {
    font-family: 'campton-bookregular';
    src: url('https://cdn.superpatronen.de/themes/Frontend/Superpatronen/frontend/_public/src/fonts/campton-book.woff2') format('woff2'), url('https://cdn.superpatronen.de/themes/Frontend/Superpatronen/frontend/_public/src/fonts/campton-book.woff') format('woff'), url('https://cdn.superpatronen.de/themes/Frontend/Superpatronen/frontend/_public/src/fonts/campton-book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'camptonmedium';
    src: url('https://cdn.superpatronen.de/themes/Frontend/Superpatronen/frontend/_public/src/fonts/campton-medium.woff2') format('woff2'), url('https://cdn.superpatronen.de/themes/Frontend/Superpatronen/frontend/_public/src/fonts/campton-medium.woff') format('woff'), url('https://cdn.superpatronen.de/themes/Frontend/Superpatronen/frontend/_public/src/fonts/campton-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'superpatronen';
    src: url('https://cdn.superpatronen.de/themes/Frontend/Superpatronen/frontend/_public/src/fonts/superpatronen.woff2?1.0.2') format('woff2'), url('https://cdn.superpatronen.de/themes/Frontend/Superpatronen/frontend/_public/src/fonts/superpatronen.woff?1.0.2') format('woff'), url('https://cdn.superpatronen.de/themes/Frontend/Superpatronen/frontend/_public/src/fonts/superpatronen.ttf?1.0.2') format('truetype'), url('https://cdn.superpatronen.de/themes/Frontend/Superpatronen/frontend/_public/src/fonts/superpatronen.svg?1.0.2') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'super_handwriting';
    src: url('https://cdn.superpatronen.de/themes/Frontend/Superpatronen/frontend/_public/src/fonts/super_handwriting.woff2') format('woff2'), url('https://cdn.superpatronen.de/themes/Frontend/Superpatronen/frontend/_public/src/fonts/super_handwriting.woff') format('woff'), url('https://cdn.superpatronen.de/themes/Frontend/Superpatronen/frontend/_public/src/fonts/super_handwriting.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}