/***** CSS Reset based on the work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/ v2.0 *****/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote {
    &:before,
    &:after {
        content: '';
        content: none;
    }
}

q {
    &:before,
    &:after {
        content: '';
        content: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/***** Structure *****/

html {
    font-size: 100%;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    overflow-x: hidden;
}

body {
    font-family: 'campton-bookregular', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.6;
    color: $dark-grey;
    background: white;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
}

.fullbg .custom-background {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mh-container,
.mh-container-inner {
    position: relative;
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
}

.mh-container-outer {
    margin: 0 auto;
}

.mh-wrapper {
    padding: 25px 0;
}

.mh-content {
    width: 67.05%;
}

.mh-sidebar {
    width: 30%;
    float: left;
}

.mh-margin-left {
    margin-left: 2.5%;
}

.mh-margin-right {
    margin-right: 2.5%;
}

.mh-right-sb #main-content {
    float: left;
    margin-right: 2.95%;
}

.mh-left-sb #main-content {
    float: right;
    margin-left: 2.95%;
}


/***** Animation *****/

.mh-navigation li,
.mh-social-nav li a,
.entry-tags li,
.tagcloud a,
.entry-tags a,
input[type=submit] {
    -webkit-transition: 0.25s ease-out;
    -moz-transition: 0.25s ease-out;
    transition: 0.25s ease-out;
}


/***** Columns *****/

.mh-row [class*='mh-col-']:first-child {
    margin: 0;
}

[class*='mh-col-'] {
    float: left;
    margin-left: 2.5%;
    overflow: hidden;
}

.mh-col-1-1 {
    width: 100%;
}

.mh-col-1-2 {
    width: 48.75%;
}

.mh-col-1-3 {
    width: 31.66%;
}

.mh-col-2-3 {
    width: 65.83%;
}

.mh-col-1-4 {
    width: 23.12%;
}

.mh-col-3-4 {
    width: 74.37%;
}

.mh-col-1-5 {
    width: 18.00%;
}

.mh-col-1-6 {
    width: 14.58%;
}

.mh-col-1-7 {
    width: 12.14%;
}

.mh-col-1-8 {
    width: 10.31%;
}

.clear {
    clear: both;
}

.clearfix {
    display: block;
    &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }
}


/***** Typography *****/

h1 {
    font-size: 32px;
    font-size: 2rem;
}

h2 {
    font-size: 24px;
    font-size: 1.5rem;
}

h3 {
    font-size: 20px;
    font-size: 1.25rem;
}

h4 {
    font-size: 18px;
    font-size: 1.125rem;
}

h5 {
    font-size: 16px;
    font-size: 1rem;
}

h6 {
    font-size: 14px;
    font-size: 0.875rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $dark-grey;
    line-height: 1.3;
    font-weight: 700;
    font-family: 'camptonmedium';
}

b,
strong {
    font-weight: bold;
}

i,
em {
    font-style: italic;
}

small {
    font-size: 6px;
    font-size: 0.375rem;
}

big {
    font-size: 20px;
    font-size: 1.25rem;
}

pre,
code {
    font-family: "Consolas", Courier New, Courier, monospace;
    color: #000;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    background: $grey;
    border: 1px solid #ebebeb;
}

pre {
    padding: 20px;
    padding: 1.25rem;
    $accent-space: pre-wrap;
    $accent-space: -o-pre-wrap;
    $accent-space: -moz-pre-wrap;
    $accent-space: -webkit-pre-wrap;
}

kbd {
    padding: 0px 6px;
    padding: 0rem 0.375rem;
    background: $grey;
    border: 1px solid $mid-grey;
    border-radius: 0.1875em;
    -moz-border-radius: 0.1875em;
    -moz-box-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.2), 0 0 0 0.125em $accent inset;
    -webkit-border-radius: 0.1875em;
    -webkit-box-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.2), 0 0 0 0.125em $accent inset;
    box-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.2), 0 0 0 0.125em $accent inset;
    text-shadow: 0 0.0625em 0 $accent;
}

blockquote {
    display: block;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    font-style: italic;
    color: #666;
    padding: 5px 15px;
    border-left: 5px solid $primary;
}

sup {
    vertical-align: super;
    font-size: 10px;
    font-size: 0.625rem;
}

sub {
    vertical-align: sub;
    font-size: 10px;
    font-size: 0.625rem;
}

abbr,
acronym {
    border-bottom: 1px dashed;
    cursor: help;
}

cite {
    color: #9a9b97;
}

q {
    font-style: italic;
}

address {
    font-family: "Courier new";
    line-height: 1.5;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
}

a {
    color: $dark-grey;
    text-decoration: none;
    &:hover {
        color: $primary;
    }
}


/***** Font Awesome Social Icons *****/

.mh-social-icons {
    .screen-reader-text {
        position: absolute;
        top: -9999rem;
        left: -9999rem;
    }
    ul {
        list-style-type: none;
        text-align: center;
        li {
            display: inline-block;
        }
    }
    li a {
        .fa-mh-social:before {
            content: '\f09e';
        }
        &[href*="deviantart.com"] .fa-mh-social:before {
            content: '\f1bd';
        }
        &[href*="behance.net"] .fa-mh-social:before {
            content: '\f1b4';
        }
        &[href*="dribbble.com"] .fa-mh-social:before {
            content: '\f17d';
        }
        &[href*="facebook.com"] .fa-mh-social:before {
            content: '\f09a';
        }
        &[href*="flickr.com"] .fa-mh-social:before {
            content: '\f16e';
        }
        &[href*="plus.google.com"] .fa-mh-social:before {
            content: '\f0d5';
        }
        &[href*="instagram.com"] .fa-mh-social:before {
            content: '\f16d';
        }
        &[href*="linkedin.com"] .fa-mh-social:before {
            content: '\f0e1';
        }
        &[href*="pinterest.com"] .fa-mh-social:before {
            content: '\f0d2';
        }
        &[href*="reddit.com"] .fa-mh-social:before {
            content: '\f1a1';
        }
        &[href*="soundcloud.com"] .fa-mh-social:before {
            content: '\f1be';
        }
        &[href*="steamcommunity.com"] .fa-mh-social:before {
            content: '\f1b6';
        }
        &[href*="tumblr.com"] .fa-mh-social:before {
            content: '\f173';
        }
        &[href*="twitch.tv"] .fa-mh-social:before {
            content: '\f1e8';
        }
        &[href*="twitter.com"] .fa-mh-social:before {
            content: '\f099';
        }
        &[href*="vk.com"] .fa-mh-social:before {
            content: '\f189';
        }
        &[href*="vimeo.com"] .fa-mh-social:before {
            content: '\f194';
        }
        &[href*="xing.com"] .fa-mh-social:before {
            content: '\f168';
        }
        &[href*="youtube.com"] .fa-mh-social:before {
            content: '\f167';
        }
    }
}


/***** Lists *****/

.entry-content ul,
.mh-comment-list ul {
    list-style: square;
}

.entry-content ol,
.mh-comment-list ol {
    list-style: decimal;
}

.entry-content ul,
.mh-comment-list ul,
.entry-content ol,
.mh-comment-list ol {
    margin: 0 0 20px 40px;
    margin: 0 0 1.25rem 2.5rem;
}

.entry-content ul ul,
.mh-comment-list ul ul,
.entry-content ol ol,
.mh-comment-list ol ol {
    margin: 0 0 0 40px;
    margin: 0 0 0 2.5rem;
}

dl {
    margin: 0 0 10px 20px;
    margin: 0 0 0.625rem 1.25rem;
}

dt,
dd {
    display: list-item;
}

dt {
    list-style-type: square;
    font-weight: bold;
}

dd {
    list-style-type: circle;
    margin-left: 20px;
    margin-left: 1.25rem;
}

select {
    max-width: 100%;
}


/***** Header *****/

.mh-site-logo {
    padding: 25px 0;
    text-align: center;
    overflow: hidden;
}

.mh-header-text {
    margin: 5px 0;
}

.wp-custom-logo .mh-header-text {
    margin-top: 25px;
}

.mh-header-title {
    font-size: 32px;
    font-size: 2rem;
    line-height: 1;
}

.mh-header-tagline {
    display: inline-block;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1;
    padding-top: 10px;
}


/***** Navigation *****/

.mh-navigation {
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    li {
        float: left;
        position: relative;
        &:hover {
            background: $primary;
            a {
                color: $accent;
            }
        }
        a {
            display: block;
            color: $accent;
            padding: 15px 20px;
        }
    }
    ul {
        li:hover>ul {
            display: block;
            background: $grey;
            z-index: 9999;
        }
        ul {
            display: none;
            position: absolute;
            li {
                width: 16em;
            }
            ul {
                left: 100%;
                top: 0;
            }
        }
    }
    .menu-item-has-children>a:after {
        font-family: 'FontAwesome';
        font-weight: 400;
        content: '\f107';
        margin-left: 5px;
    }
    .sub-menu .menu-item-has-children>a:after {
        content: '\f105';
        margin-left: 10px;
    }
}

.slicknav_menu {
    display: none;
}


/***** Header Navigation *****/

.mh-header-nav {
    overflow: visible;
}

.mh-header-nav-wrap {
    background: $accent;
    color: $dark-grey;
    &:before {
        content: '';
        width: 100vw;
        display: block;
        height: 100%;
        position: absolute;
        left: calc(-50vw + 50%);
        top: 0;
        background-color: $accent;
        z-index: -1;
    }
}

.mh-header-nav li a {
    font-size: 12px;
    line-height: 35px;
    padding: 0 20px;
}


/***** Main Navigation *****/

.mh-main-nav-wrap {
    background: $dark-grey;
}

.mh-main-nav li a {
    padding: 15px 20px;
}


/***** Social Navigation - Global *****/

.mh-social-nav {
    float: right;
    ul {
        text-align: right;
    }
    li a {
        display: block;
        color: $accent;
        min-width: 35px;
        font-size: 16px;
        line-height: 35px;
        text-align: center;
        &:hover {
            background: $primary;
        }
    }
}

.mh-social-nav-footer {
    width: 50%;
}


/***** SlickNav Mobile Menu Core Style *****/

.slicknav_btn {
    position: relative;
    display: block;
    vertical-align: middle;
    float: right;
    padding: 0.438em 0.625em;
    line-height: 1.125em;
    cursor: pointer;
    margin: 5px 5px 6px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #222;
    .slicknav_icon-bar+.slicknav_icon-bar {
        margin-top: 0.188em;
    }
}

.slicknav_menu {
    *zoom: 1;
    font-size: 16px;
    box-sizing: border-box;
    background: #4c4c4c;
    padding: 5px;
    * {
        box-sizing: border-box;
    }
    .slicknav_menutxt {
        display: block;
        line-height: 1.188em;
        float: left;
        color: $accent;
        font-weight: bold;
        text-shadow: 0 1px 3px #000;
    }
    .slicknav_icon {
        float: left;
        width: 1.125em;
        height: 0.875em;
        margin: 0.188em 0 0 0.438em;
        &:before {
            background: transparent;
            width: 1.125em;
            height: 0.875em;
            display: block;
            content: "";
            position: absolute;
        }
    }
    .slicknav_no-text {
        margin: 0;
    }
    .slicknav_icon-bar {
        display: block;
        width: 1.125em;
        height: 0.125em;
        background-color: $accent;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border-radius: 1px;
        -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    }
    &:before {
        content: " ";
        display: table;
    }
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

.slicknav_nav {
    clear: both;
    color: $accent;
    margin: 0;
    padding: 0;
    font-size: 0.875em;
    list-style: none;
    overflow: hidden;
    ul {
        display: block;
        list-style: none;
        overflow: hidden;
        padding: 0;
        margin: 0 0 0 20px;
    }
    li {
        display: block;
    }
    .slicknav_arrow {
        font-size: 0.8em;
        margin: 0 0 0 0.4em;
    }
    .slicknav_item {
        cursor: pointer;
        a {
            display: inline;
            padding: 0;
            margin: 0;
        }
    }
    .slicknav_row {
        display: block;
        padding: 5px 10px;
        margin: 2px 5px;
        &:hover {
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            background: #ccc;
            color: $accent;
        }
    }
    a {
        display: block;
        padding: 5px 10px;
        margin: 2px 5px;
        text-decoration: none;
        color: $accent;
        &:hover {
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
            background: #ccc;
            color: #222;
        }
    }
    .slicknav_parent-link a {
        display: inline;
        padding: 0;
        margin: 0;
    }
    .slicknav_txtnode {
        margin-left: 15px;
    }
}

.slicknav_brand {
    float: left;
    color: $accent;
    font-size: 18px;
    line-height: 30px;
    padding: 7px 12px;
    height: 44px;
}


/***** SlickNav Custom Style *****/

.slicknav_btn {
    background: $primary;
}

.slicknav_menu {
    padding: 0;
    background: $primary;
    display: none;
    .slicknav_menutxt {
        display: none;
    }
    .slicknav_icon-bar {
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
}

.slicknav_nav {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 20px;
    ul {
        padding: 20px 0 0 15px;
        margin: 0;
        border-top: 1px solid $grey;
        ul {
            border: none;
            padding: 0 0 0 15px;
        }
    }
    .slicknav_item:hover,
    a:hover {
        color: $accent;
        background: $primary;
    }
}

.mh-main-nav-mobile {
    .slicknav_btn,
    .slicknav_menu {
        background: $grey;
    }
    .slicknav_nav {
        .slicknav_item:hover,
        a:hover {
            background: $grey;
        }
        ul {
            border-top: 1px solid $primary;
            ul {
                border: none;
            }
        }
    }
}


/***** Posts/Pages *****/

.mh-content-wrapper {
    padding: 25px;
    margin-bottom: 25px;
    background: $accent;
}

.entry-header,
.page-header {
    margin-bottom: 25px;
}

.page-title {
    font-size: 24px;
    font-size: 1.5rem;
}

.mh-page-title {
    padding: 20px 25px;
    background: $accent;
}

.mh-meta {
    font-size: 13px;
    font-size: 0.8125rem;
    a:hover {
        color: $primary;
    }
}

.mh-footer .mh-meta a:hover {
    color: $primary;
}

.mh-meta {
    span {
        margin-right: 10px;
    }
    .fa {
        color: $primary;
        margin-right: 5px;
    }
}

.entry-meta {
    color: $primary;
    margin-top: 5px;
    a {
        color: $dark-grey;
    }
}

.entry-thumbnail {
    position: relative;
    max-width: 905px;
    img {
        width: 100%;
    }
    .fa-info {
        position: absolute;
        bottom: 0;
        right: 0;
        color: $accent;
        padding: 5px 10px;
        background: $primary;
    }
    .wp-caption-text {
        position: absolute;
        display: none;
        bottom: 0;
        right: 0;
        padding: 10px 15px;
        color: $accent;
        background: $grey;
        letter-spacing: 0.5px;
        opacity: 0.9;
        z-index: 999;
    }
    &:hover .wp-caption-text {
        display: block;
    }
}

.attachment .entry-thumbnail {
    margin-bottom: 20px;
}

.entry-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    .flex-vid,
    .mh-row,
    .mh-video-container {
        margin-bottom: 25px;
    }
    p {
        font-weight: 500;
        opacity: 0.9;
    }
    blockquote p:last-child {
        margin: 0;
    }
    a {
        font-weight: 600;
        color: $primary;
        &:hover {
            color: $primary;
            text-decoration: underline;
        }
    }
}

.entry-tags a {
    position: relative;
    float: left;
    font-size: 11px;
    font-weight: 700;
    line-height: 1.8;
    color: $accent;
    letter-spacing: 1px;
    padding: 4px 10px 4px 15px;
    margin: 0 10px 7px;
    background: $primary;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    &:before {
        position: absolute;
        top: 3px;
        left: -8px;
        width: 18px;
        height: 20px;
        content: '';
        background: $primary;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-border-radius: 0 0 0 4px;
        -moz-border-radius: 0 0 0 4px;
        border-radius: 0 0 0 4px;
    }
    &:after {
        position: absolute;
        top: 11px;
        left: 1px;
        width: 6px;
        height: 6px;
        content: '';
        background: $accent;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
}

.mh-section-title {
    font-size: 14px;
    font-size: 0.875rem;
    color: $dark-grey;
    padding: 10px 25px;
    margin-bottom: 25px;
    text-transform: uppercase;
    background: $accent;
}

.sticky {}


/***** Author Box *****/

.mh-author-box {
    line-height: 1.5;
    margin-bottom: 25px;
    background: $accent;
    color: $grey;
    a {
        color: $grey;
        &:hover {
            color: $primary;
        }
    }
    .screen-reader-text {
        position: absolute;
        top: -9999rem;
        left: -9999rem;
    }
}

.mh-author-box-content {
    padding: 25px;
}

.mh-author-box-avatar {
    float: left;
    padding: 3px;
    margin-right: 25px;
    border: 1px solid #bbb;
}

.mh-author-box-header {
    margin-bottom: 10px;
}

.mh-author-box-name {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 700;
}

.mh-author-box-postcount:before {
    font-family: 'FontAwesome';
    content: '\f105';
    padding: 0 5px;
}

.author .mh-author-box {
    margin-top: 25px;
}


/***** Loop / Archives / Search Results *****/

.mh-loop-item {
    background: $accent;
    border-radius: 2px;
    overflow: hidden;
    border: 1px solid #ccced5
}

.mh-loop-grid,
.mh-loop-large-item,
.mh-loop-list-item {
    margin-bottom: 25px;
}

.mh-icon-header {
    font-size: 30px;
    padding: 15px 20px;
    background: $primary;
    opacity: 0.75;
    text-align: center;
    a,
    .fa {
        color: $accent;
    }
    .mh-loop-title {
        font-size: 24px;
        font-size: 1.5rem;
        color: $accent;
    }
}

.mh-loop-thumb {
    position: relative;
    overflow: hidden;
    &:before {
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        opacity: 0.75;
        z-index: 1;
        background: #1eb089;
        background: -moz-linear-gradient(left, $primary 0%, $grey 100%, $grey 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, $primary), color-stop(100%, $grey), color-stop(100%, #7db9e8));
        background: -webkit-linear-gradient(left, $primary 0%, $grey 100%, $grey 100%);
        background: -o-linear-gradient(left, $primary 0%, $grey 100%, $grey 100%);
        background: -ms-linear-gradient(left, $primary 0%, $grey 100%, $grey 100%);
        background: linear-gradient(to right, $primary 0%, $grey 100%, $grey 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$primary', endColorstr='$grey', GradientType=1);
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        transition: all .3s ease;
    }
    &:after {
        position: absolute;
        bottom: 100%;
        left: 50%;
        font-family: "FontAwesome";
        font-size: 25px;
        color: $accent;
        border: 5px solid $accent;
        border-radius: 100%;
        z-index: 2;
        -webkit-transition: all .3s ease .1s;
        transition: all .3s ease .1s;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    img {
        width: 100%;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        transition: all .3s ease;
    }
}

.mh-loop-list-thumb {
    float: left;
    margin-right: 20px;
    img {
        max-width: 360px;
    }
}

.mh-loop-grid-thumb img {
    max-width: 360px;
}

.mh-loop-item:hover {
    .mh-loop-thumb {
        img {
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
        }
        &:before {
            bottom: 0;
        }
        &:after {
            bottom: 39%;
        }
    }
    .mh-loop-large-thumb:after {
        bottom: 44.5%;
    }
}

.mh-loop-header {
    margin-bottom: 10px;
}

.mh-loop-meta {
    color: $dark-grey;
    margin-top: 5px;
    a {
        color: $grey;
        margin-top: 5px;
    }
}

.mh-loop-content-inner {
    padding: 20px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.mh-loop-excerpt {
    overflow: hidden;
}

.mh-excerpt-more {
    display: block;
    margin-top: 15px;
    span {
        transition: all ease .3s;
        position: relative;
        display: inline-block;
        font-size: 16px;
        font-weight: 700;
        background-color: rgb(0, 186, 202);
        color: $accent;
        padding: 10px 20px;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -moz-osx-font-smoothing: grayscale;
        border-radius: 2px;
        &:hover {
            background-color: $primary-hover;
            color: $accent;
            &:before {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
                -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
                transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
            }
        }
    }
}

.mh-loop-description {
    color: #000;
    padding: 25px;
    border-top: 1px solid $primary;
    background: $accent;
}


/***** Post Format Icons *****/

.format-standard .mh-loop-thumb:after {
    content: '\f1ea';
    padding: 4px 10px;
}

.format-aside .mh-loop-thumb:after {
    content: '\f02e';
    padding: 4px 15px;
}

.format-image .mh-loop-thumb:after {
    content: '\f083';
    padding: 4px 12px;
}

.format-video .mh-loop-thumb:after {
    content: '\f04b';
    padding: 4px 13px 4px 16px;
}

.format-gallery .mh-loop-thumb:after {
    content: '\f030';
    padding: 4px 11px;
}

.format-audio .mh-loop-thumb:after {
    content: '\f028';
    padding: 4px 13px;
}


/***** Pagination *****/

.post .pagination {
    padding-bottom: 20px;
}

.page-numbers {
    display: inline-block;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 700;
    color: $grey;
    padding: 5px 15px;
    margin-right: 5px;
    background: $accent;
    &:hover {
        color: $accent;
        background: $primary;
    }
}

.mh-loop-pagination .current,
.mh-comments-pagination .current,
a:hover .pagelink {
    color: $accent;
    background: $primary;
}

.page-numbers a {
    display: block;
}

.pagelink {
    display: inline-block;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 700;
    color: $accent;
    padding: 5px 15px;
    margin-right: 5px;
    background: $primary;
}

a .pagelink {
    color: $grey;
    background: $grey;
}

.mh-post-nav-wrap {
    padding: 10px 25px;
    margin-bottom: 25px;
    background: $accent;
    text-transform: uppercase;
}

.mh-post-nav {
    width: 48.75%;
    a {
        font-size: 14px;
        font-size: 0.875rem;
        font-weight: 700;
        color: $grey;
        &:hover {
            color: $primary;
        }
    }
}

.mh-post-nav-prev {
    float: left;
    margin-right: 2.5%;
}

.mh-post-nav-next {
    float: right;
    text-align: right;
}


/***** Footer *****/

.mh-footer {
    font-size: 13px;
    font-size: 0.8125rem;
    color: $footer-text;
    background: #25272c;
    overflow: hidden;
    padding: 1.875rem 0 1.875rem 0;
    a {
        color: $footer-link;
        &:hover {
            color: $accent;
        }
    }
}

.mh-copyright-wrap {
    width: 100%;
    color: $footer-link;
    text-align: center;
}


/***** Images / Video *****/

img {
    max-width: 100%;
    width: auto\9;
    /* ie8 */
    height: auto;
    vertical-align: bottom;
}

iframe,
embed,
object,
video {
    max-width: 100%;
}

.mh-video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}

.alignnone {
    display: block;
    margin: 20px 0;
    margin: 1.25rem 0;
}

.aligncenter {
    display: block;
    margin: 20px auto;
    margin: 1.25rem auto;
}

.alignleft {
    display: inline;
    float: left;
    margin: 5px 20px 20px 0;
    margin: 0.3125rem 1.25rem 1.25rem 0;
}

.alignright {
    display: inline;
    float: right;
    margin: 5px 0 20px 20px;
    margin: 0.3125rem 0 1.25rem 1.25rem;
}

.wp-caption {
    max-width: 100%;
}

.wp-caption-text {
    display: block;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.4;
    color: $grey;
    opacity: 0.8;
    margin-top: 5px;
}

.mh-footer .wp-caption-text {
    color: $accent;
}

.alignnone .wp-caption-text,
.aligncenter .wp-caption-text,
.alignleft .wp-caption-text,
.alignright .wp-caption-text {
    margin-bottom: 0;
}

.screen-reader-text {
    position: absolute;
    top: -9999rem;
    left: -9999rem;
    overflow: hidden;
}


/***** Gallery *****/

.gallery {
    margin-bottom: 20px;
    &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
        margin: 0;
        padding: 0;
    }
}

.gallery-item {
    float: left;
    margin: 0 4px 4px 0;
    overflow: hidden;
    position: relative;
}

.gallery-columns-1 .gallery-item {
    max-width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 48%;
    max-width: -webkit-calc(50% - 4px);
    max-width: calc(50% - 4px);
}

.gallery-columns-3 .gallery-item {
    max-width: 32%;
    max-width: -webkit-calc(33.3% - 4px);
    max-width: calc(33.3% - 4px);
}

.gallery-columns-4 .gallery-item {
    max-width: 23%;
    max-width: -webkit-calc(25% - 4px);
    max-width: calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
    max-width: 19%;
    max-width: -webkit-calc(20% - 4px);
    max-width: calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
    max-width: 15%;
    max-width: -webkit-calc(16.7% - 4px);
    max-width: calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
    max-width: 13%;
    max-width: -webkit-calc(14.28% - 4px);
    max-width: calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
    max-width: 11%;
    max-width: -webkit-calc(12.5% - 4px);
    max-width: calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
    max-width: 9%;
    max-width: -webkit-calc(11.1% - 4px);
    max-width: calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
    margin-right: 0;
}

.gallery-columns-1 {
    &.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
    &.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1) {
        clear: left;
    }
}

.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
    clear: left;
}

.gallery-caption {
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: $accent;
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    max-height: 50%;
    opacity: 0;
    padding: 6px 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    width: 100%;
    &:before {
        content: "";
        height: 100%;
        min-height: 49px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

.gallery-item:hover .gallery-caption {
    opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none;
}


/***** Tables *****/

table {
    width: 100%;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    border-left: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
}

td {
    padding: 5px 10px;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

th {
    padding: 5px 10px;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    font-weight: 600;
    color: #000;
    background-color: #f9f9f9;
}

.mh-footer-widget {
    table,
    td {
        border-color: rgba(255, 255, 255, 0.3);
    }
    th {
        border-color: rgba(255, 255, 255, 0.3);
        color: $accent;
        background: rgba(255, 255, 255, 0.1);
    }
}


/***** Comments *****/

.mh-comment-list {
    color: #000;
    padding: 25px 0;
    margin-bottom: 25px;
    list-style: none;
    background: $accent;
    .children {
        margin: 0 25px;
        list-style: none;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 20px;
    }
}

.mh-comment-body {
    padding: 0 25px;
    margin-bottom: 25px;
}

.mh-comment-meta {
    line-height: 2.5;
    padding: 15px;
    margin-bottom: 20px;
    background: $dark-grey;
    color: $grey;
    a {
        color: $grey;
    }
}

.mh-comment-meta-date {
    font-size: 10px;
    font-size: 0.625rem;
    text-transform: uppercase;
}

.mh-comment-meta-links {
    font-weight: 700;
    text-align: right;
    text-transform: uppercase;
    .comment-reply-link:before {
        font-family: 'FontAwesome';
        color: $primary;
        content: '\f112';
        margin-right: 5px;
    }
    .comment-edit-link {
        margin-left: 10px;
    }
}

.bypostauthor .mh-comment-meta {
    border-bottom: 2px solid $primary;
}

.mh-comment-author .fn {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 700;
    margin-right: 0;
}

.mh-comment-gravatar {
    display: inline-block;
    .avatar {
        width: 60px;
        height: 60px;
        padding: 2px;
        margin: 0 15px 0 0;
        border: 1px solid $grey;
        background: $accent;
        vertical-align: middle;
    }
}

.mh-comment-content {
    p {
        margin-bottom: 20px;
    }
    blockquote {
        margin-bottom: 20px;
        p:last-child {
            margin: 0;
        }
    }
}

.mh-comment-info {
    color: $primary;
    margin: 20px 0;
}

.mh-comments-pagination {
    margin-bottom: 25px;
}

.mh-ping-list {
    padding: 25px;
    margin-bottom: 25px;
    background: $accent;
    .mh-ping-item {
        padding: 10px 0;
        border-bottom: 1px dotted #ebebeb;
        &:first-child {
            border-top: 1px dotted #ebebeb;
        }
        .fa {
            margin-right: 15px;
        }
    }
}


/***** Comment Form *****/

#respond {
    color: #000;
    padding: 25px;
    background: $accent;
    a {
        color: #000;
        &:hover {
            color: $primary;
        }
    }
    .comment-reply-title {
        margin-bottom: 20px;
        margin-bottom: 1.25rem;
    }
    #cancel-comment-reply-link {
        font-size: 12px;
        font-size: 0.75rem;
        color: $accent;
        padding: 5px 10px;
        background: $primary;
        &:hover {
            background: $grey;
        }
    }
}

#commentform p {
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
}

.required {
    color: $primary;
}


/***** Forms *****/

input {
    font-size: 12px;
    font-size: 0.75rem;
    padding: 5px;
    border: 1px solid #d7d8d8;
    &[type=text],
    &[type=email],
    &[type=tel],
    &[type=url] {
        width: 60%;
    }
    &[type=text]:hover,
    &[type=email]:hover,
    &[type=tel]:hover,
    &[type=url]:hover {
        border: 1px solid $primary;
    }
}

textarea:hover {
    border: 1px solid $primary;
}

input[type=submit] {
    display: inline-block;
    min-width: 100px;
    font-weight: 700;
    color: $accent;
    padding: 10px 15px;
    background: $primary;
    border: 2px solid $primary;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
    -webkit-appearance: none;
    &:hover {
        color: $primary;
        background: $accent;
    }
}

textarea {
    width: 96%;
    line-height: 1.5;
    padding: 5px;
    border: 1px solid #d7d8d8;
}


/***** Contact Form 7 *****/

.wpcf7-form {
    font-size: 14px;
    font-size: 0.875rem;
    color: #000;
    margin-bottom: 20px;
    p {
        margin-bottom: 15px;
        margin-bottom: 0.9375rem;
    }
}

.wpcf7-text {
    padding: 8px;
}

.wpcf7-textarea {
    width: 86%;
    padding: 10px;
}


/***** Searchform *****/

.search-form {
    input {
        font-size: 11px;
        line-height: 1;
    }
    .search-submit {
        display: none;
    }
    .screen-reader-text {
        position: absolute;
        left: -9999px;
        overflow: hidden;
    }
    .search-field {
        position: relative;
        padding: 10px;
        margin: 0;
        background: $accent;
        border: 2px solid $primary;
        background-color: white;
        border-radius: 2px;
        cursor: pointer;
        -webkit-appearance: none;
        &:focus {
            outline: none;
            border-color: $primary-hover;
        }
        &:active,
        &:focus {
            cursor: text;
        }
    }
}

.mh-widget .search-form {
    display: block;
    margin: 0 auto;
    padding: 5%;
    background: $grey;
    border-radius: 2px;
    .search-field {
        display: block;
        margin: 0 auto;
        width: 90%;
    }
}

.mh-footer .search-form input {
    width: 100%;
}


/***** Multisite Registration Form *****/

#signup-content {
    padding: 25px;
    margin: 25px 0;
    background: $accent;
    .mu_register {
        width: 100%;
    }
}

.mu_register {
    .mu_alert {
        display: block;
        margin-bottom: 25px;
    }
    form {
        max-width: 500px;
    }
    input {
        box-sizing: border-box;
    }
    .submit {
        margin-top: 25px;
    }
}

.lead-in {
    margin-top: 25px;
    a {
        font-weight: 700;
    }
}


/***** Shortcodes *****/

.ad-label {
    font-size: 10px;
    font-size: 0.625rem;
}

.mh-box {
    position: relative;
    padding: 25px 25px 0;
    margin-bottom: 25px;
    background: $accent;
    overflow: hidden;
}


/***** Widgets *****/

.mh-widget {
    padding: 25px;
    margin-bottom: 25px;
    background: $accent;
    border-radius: 2px;
    overflow: hidden;
    border: 1px solid #ccced5
}

.mh-widget-inner {
    overflow: hidden;
}

.mh-footer-widgets {}

.mh-footer-widget {
    padding: 0;
    margin-bottom: 25px;
}

.mh-widget-title {
    font-size: 16px;
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    text-align: left;
}

.mh-sidebar-widget-title-inner {
    position: relative;
    text-transform: uppercase;
}

.mh-footer-widget-title {
    font-size: 22px;
    font-size: 1.375rem;
    margin: 28px 0px 10px 0px;
    margin: 1.75rem 0rem .625rem 0rem;
    line-height: 26px;
    line-height: 1.625rem;
    padding: 0;
    cursor: text;
    color: $footer-text;
    font-weight: normal;
    letter-spacing: 0;
    a {
        color: $accent;
    }
}


/***** Widgets Areas (Advertising) *****/

.mh-ad-spot {
    display: block;
    padding: 9px;
    text-align: center;
    background: $grey;
}

.mh-footer-widget .mh-ad-spot {
    background: rgba(255, 255, 255, 0.1);
}


/***** MH Custom Posts Widget *****/

.mh-custom-posts-item {
    padding: 20px 0;
    border-bottom: 1px dotted #ebebeb;
    &:first-child {
        padding-top: 0;
    }
}

.mh-custom-posts-thumb {
    float: left;
    margin-right: 15px;
}

.mh-custom-posts-small-title {
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 5px;
    margin-bottom: 0.3125rem;
}

.mh-custom-posts-small .mh-meta {
    font-size: 11px;
    font-size: 0.6875rem;
}

.mh-custom-posts-header {
    overflow: hidden;
}

.mh-footer-widget {
    .mh-custom-posts-item {
        border-color: rgba(255, 255, 255, 0.3);
    }
    .mh-custom-posts-small-title {
        font-weight: 400;
    }
}


/***** WordPress Core Widgets *****/

.widget_archive li,
.widget_categories li,
.widget_pages li a,
.widget_meta li,
.widget_nav_menu .menu>li,
.widget_rss li {
    line-height: 1.7;
    font-size: 1rem;
    a {
        color: $footer-link;
        padding: 0
    }
}

.widget_archive li a,
.widget_categories li a,
.widget_pages li a,
.widget_meta li a,
.widget_nav_menu li a,
.widget_rss li {
    display: block;
    padding: 5px 0;
}

.widget_archive li:first-child a,
.widget_categories li:first-child a,
.widget_pages li:first-child a,
.widget_meta li:first-child a,
.widget_nav_menu li:first-child a,
.widget_rss li:first-child {
    padding-top: 0;
}

.widget_pages .children li a {
    padding: 5px 0;
}

.widget_nav_menu .sub-menu li {
    border-top: 1px dotted #ebebeb;
    &:first-child a {
        padding-top: 5px;
    }
}

.widget_rss {
    a {
        font-weight: 700;
    }
    .rss-date {
        margin-right: 5px;
        font-size: 13px;
        font-size: 0.8125rem;
        color: #979797;
    }
    cite {
        font-size: 13px;
        font-size: 0.8125rem;
        color: #979797;
    }
    .rssSummary {
        margin-top: 5px;
    }
}

.mh-footer-widget {
    &.widget_rss a {
        font-weight: 400;
    }
    &.widget_archive li,
    &.widget_categories li,
    &.widget_pages li a,
    &.widget_meta li {
        border-color: rgba(255, 255, 255, 0.3);
    }
    &.widget_nav_menu {
        .menu>li,
        .sub-menu li {
            border-color: rgba(255, 255, 255, 0.3);
        }
    }
    &.widget_rss li {
        border-color: rgba(255, 255, 255, 0.3);
    }
    p {
        font-size: 1rem;
        line-height: 1.75rem;
    }
}


/***** WP Calendar Widget *****/

#wp-calendar {
    caption {
        text-align: left;
        padding: 10px;
        margin-bottom: 1px;
        background: $grey;
    }
    th,
    td {
        padding: 5px 10px;
        text-align: center;
    }
    th {
        font-weight: 300;
    }
    #prev {
        text-align: left;
    }
}

.mh-footer-widget #wp-calendar caption {
    background: rgba(255, 255, 255, 0.1);
}


/***** WP Tag Cloud Widget *****/

.tagcloud a {
    display: inline-block;
    font-weight: 400;
    color: $accent;
    padding: 5px 10px;
    margin: 0 4px 8px 0;
    $accent-space: nowrap;
    text-transform: uppercase;
}

.mh-widget .tagcloud a {
    background: $grey;
}

.mh-footer-widget .tagcloud a {
    background: $primary;
}

.tagcloud a:hover,
.mh-widget .tagcloud a:hover,
.mh-footer-widget .tagcloud a:hover {
    color: $accent;
    background: $primary;
}


/***** WP Recent Posts Widget / WP Recent Comments Widget *****/

.widget_recent_entries li,
.recentcomments {
    display: block;
    padding: 5px 0;
    border-bottom: 1px dotted #e5e5e5;
}

.widget_recent_entries li:first-child,
.recentcomments:first-child {
    padding-top: 0;
}

.widget_recent_entries .post-date {
    display: block;
    font-size: 11px;
    font-size: 0.6875rem;
    color: #979797;
    margin-bottom: 5px;
}

.mh-footer-widget {
    &.widget_recent_entries li,
    .recentcomments {
        border-color: rgba(255, 255, 255, 0.3);
    }
}


/***** WP Text Widget *****/

.textwidget {
    p {
        margin-top: 20px;
        &:first-child {
            margin-top: 0;
        }
    }
    ul {
        list-style: square;
    }
    ol {
        list-style: decimal;
    }
    ul,
    ol {
        margin: 0 0 20px 15px;
    }
    ul ul,
    ol ol {
        margin: 0 0 0 15px;
    }
}


/***** Media Queries *****/

@media screen and (max-width: 1475px) {
    .mh-container {
        width: 95%;
    }
    .mh-container-inner {
        width: 100%;
    }
}

@media screen and (max-width: 1120px) {
    .mh-header-nav li a {
        padding: 0 15px;
    }
    .mh-main-nav li {
        font-size: 12px;
        a {
            padding: 10px 15px;
        }
    }
}

@media screen and (max-width: 900px) {
    .mh-container-outer {
        margin: 0 auto;
    }
    #mh-mobile .mh-container {
        width: 100%;
    }
    .mh-content,
    .mh-sidebar,
    .mh-right-sb #main-content,
    .mh-left-sb #main-content {
        float: none;
        width: 100%;
        margin: 0;
    }
    .mh-wrapper {
        padding: 20px 20px 0;
    }
    .mh-site-logo,
    .mh-page-title,
    .mh-loop-description,
    .mh-author-box-content,
    #respond {
        padding: 20px;
    }
    .mh-content-wrapper,
    .mh-ping-list {
        padding: 20px;
        margin-bottom: 20px;
    }
    .entry-header,
    .page-header {
        margin-bottom: 20px;
    }
    .entry-content {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        .flex-vid,
        .mh-row,
        .mh-video-container {
            margin-bottom: 20px;
        }
    }
    .mh-author-box,
    .mh-loop-grid,
    .mh-loop-large-item,
    .mh-loop-list-item {
        margin-bottom: 20px;
    }
    .mh-section-title,
    .mh-post-nav-wrap {
        padding: 10px 20px;
        margin-bottom: 20px;
    }
    .mh-box {
        padding: 20px 20px 0;
        margin-bottom: 20px;
    }
    .mh-sidebar {
        margin-top: 20px;
    }
    .mh-comment-list {
        padding: 20px 0;
        margin-bottom: 20px;
        .children {
            margin: 0 15px;
        }
    }
    .mh-comment-body {
        padding: 0 20px;
        margin-bottom: 20px;
    }
    .mh-comments-pagination {
        margin-bottom: 20px;
    }
    .mh-widget,
    .mh-footer-widget {
        padding: 20px;
        margin-bottom: 20px;
    }
    .mh-footer-widgets {
        padding: 20px 20px 0;
    }
    .mh-widget-col-1 .mh-custom-posts-small-title {
        font-size: 13px;
        font-size: 0.8125rem;
    }
    .mh-meta-comments {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .fullbg .custom-background {
        background-size: auto;
    }
    .js {
        .slicknav_menu {
            display: block;
        }
        .mh-navigation {
            display: none;
        }
    }
    .mh-custom-header,
    .mh-footer-area,
    .mh-social-nav,
    .mh-copyright-wrap,
    .mh-loop-thumb {
        float: none;
        width: 100%;
        margin: 0;
    }
    .mh-social-nav ul,
    .mh-copyright-wrap {
        text-align: center;
    }
    .mh-header-nav-wrap {
        border: none;
    }
    .mh-header-title,
    .entry-title {
        font-size: 24px;
        font-size: 1.5rem;
    }
    .entry-meta {
        padding: 5px 0;
    }
    .mh-loop-list-item {
        padding-top: 20px;
    }
    .mh-loop-thumb,
    .mh-loop-content,
    .mh-loop-pagination {
        text-align: center;
    }
    .mh-loop-list-thumb {
        max-width: 360px;
        margin: 0 auto;
    }
    .mh-loop-grid-title {
        font-size: 20px;
        font-size: 1.25rem;
    }
    .mh-copyright {
        display: block;
        line-height: 1.3;
        padding: 10px 0;
    }
}

@media screen and (max-width: 620px) {
    input {
        &[type=text],
        &[type=email],
        &[type=tel],
        &[type=url] {
            width: 88%;
        }
    }
    [class*='mh-col-'] {
        float: none;
        width: 100%;
        margin: 0;
    }
    .mh-post-nav {
        float: none;
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .entry-meta-categories,
    .entry-meta-comments {
        display: none;
    }
    .mh-author-box-avatar {
        float: none;
        display: inline-block;
        margin: 0 0 20px;
        text-align: center;
    }
    .mh-author-box-content {
        text-align: center;
    }
    .entry-content ul,
    .mh-comment-list ul,
    .entry-content ol,
    .mh-comment-list ol {
        margin: 0 0 20px 20px;
        margin: 0 0 1.25rem 1.25rem;
    }
    .entry-content ul ul,
    .mh-comment-list ul ul,
    .entry-content ol ol,
    .mh-comment-list ol ol {
        margin: 0 0 0 20px;
        margin: 0 0 0 1.25rem;
    }
    .mh-comment-gravatar {
        margin-bottom: 10px;
        .avatar {
            margin: 0 auto;
        }
    }
    .mh-comment-meta {
        padding: 15px;
        text-align: center;
    }
    .mh-comment-author .fn {
        display: block;
        clear: both;
    }
    .mh-custom-posts-content .mh-meta {
        display: block;
        font-size: 11px;
        font-size: 0.6875rem;
    }
    #mh-mobile .mh-loop-item {
        margin-bottom: 20px;
    }
    .mh-loop-grid {
        margin: 0;
    }
    .mh-loop-grid-item {
        padding-top: 20px;
    }
    .mh-loop-grid-thumb {
        max-width: 360px;
        margin: 0 auto;
    }
    .mh-loop-grid-title {
        font-size: 24px;
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 420px) {
    .mh-loop-item {
        padding: 0;
    }
    .mh-comment-list .children {
        margin: 0;
    }
}

form.newsletter--form {
    display: block;
    background: white;
    border: 2px solid #afb4c2;
    border-radius: 2px;
    overflow: hidden;
    margin-top: 1rem;
}

button.newsletter--button.btn {
    padding: 6px 5px 0px 5px;
    padding: .375rem .3125rem 0rem .3125rem;
    border-radius: 0px;
    width: 20%;
    margin: 0;
    float: left;
    background: transparent;
    border: none;
    line-height: 1;
    padding: .75rem 0;
    color: #aeb4c2;
}

form.newsletter--form .newsletter--field {
    width: 80%;
    border: 0;
    float: left;
    line-height: 30px;
    padding-left: 1rem;
    font-size: 1rem;
}

form.newsletter--form>* {
    box-sizing: border-box;
}

button.newsletter--button.btn i {
    font-size: 17px;
    font-size: 1.0625rem;
}